.language-mermaid {
    font-family: monospace !important;
}
.md-main {
  background-image: url("../assets/images/webform-bg.png");
  background-size: cover;
  background-position: center;
  padding: 0 0 0 0;
  border-radius: 1rem;
  color: white;
}