.language-mermaid {
    font-family: monospace !important;
}
.md-main {
  background-image: linear-gradient(
        rgb(30, 33, 50, 0.95),
        rgba(30, 33, 41, 1)), 
        url(../assets/images/webform-bg.png);
  background-size: 100vw 90vh;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 0 0 0;
  border-radius: 1rem;
}