.language-mermaid {
    font-family: monospace !important;
}
.hero {
  background-image: url("../assets/webform-bg.png");
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
  border-radius: 1rem;
  color: white;
}